.idea
Context Diagram (Car-sharing).pdf
ER-Diagram (Car Sharing).pdf
Use case diagram (Car-Sharing).pdf
.DS_Store
Shall Statements.pdf
Context Diagram.pdf
README.pdf
Use case diagram.pdf
Design Decisions.fdb_latexmk
Design Decisions.aux
Design Decisions.fls
Design Decisions.log
Design Decisions.synctex.gz
~$notations to ER-diagramm.docx
